<h1>activities/new</h1>
<form action="/activities/create" method="post">
  <p>title:</p>
  <input type="text" name="title">
  <p>hashtag:</p>
  <p>'#'は必要ないのであります</p>
  <input type="text" name="hashtag">
  <p>description:</p>
  <textarea name="description"></textarea>
  <br>
  <br>
  <input type="submit" value="add">
</form>
<a href="/">cancel</a>

